
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isUser() {
      return request.auth != null;
    }

    function getRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    function isAdmin() {
      return isUser() && (getRole(request.auth.uid) == 'Admin' || getRole(request.auth.uid) == 'SuperAdmin');
    }

    // User profiles can be read by any user, but only listed by admins.
    // They can only be written by their owner or an admin.
    match /users/{userId} {
      allow get, write: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();

      // Subcollections for a specific user
      match /user_licenses/{licenseId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }

      match /predictions/{predictionId} {
         allow read, write: if isOwner(userId) || isAdmin();
      }
    }
    
    // Transactions can be created by any user, read by owner/admin, and listed by admins.
    // They cannot be updated or deleted by clients.
    match /transactions/{transactionId} {
      allow get, create: if isUser();
      allow list: if isAdmin();
      allow update, delete: if false; // Should be updated by backend webhook only
    }

    // Audit logs can be created by any authenticated user.
    // Only admins can get or list audit logs.
    // No one can update or delete logs from the client.
    match /auditlogs/{auditLogId} {
      allow create: if isUser();
      allow get, list: if isAdmin();
      allow update, delete: if false;
    }

    // Plans can be read by anyone, but only written by an admin.
    match /plans/{planId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    // Prompts can only be read and written by an admin.
    match /prompts/{promptId} {
      allow read, write: if isAdmin();
    }

    // Admins can list licenses across all users for the dashboard.
    match /{path=**}/user_licenses/{licenseId} {
      allow list: if isAdmin();
    }
  }
}
